nav {
    border-bottom: 2px solid cornflowerblue;
  }

body {
  background-color: rgb(221, 123, 84);
}

.container {
  padding-top: 100px;
  font-weight: bold;
  font-size: larger;
}

#weather {
  color: bisque;
  text-align: center;
  font-size: 100px;
}